<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- 首页 Tab -->
	<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>

	<!-- 扫码充电Tab -->
	<ion-tab title="交易" icon-off="ion-ios-barcode-outline" icon-on="ion-ios-barcode" href="#/tab/business">
		<ion-nav-view name="tab-business"></ion-nav-view>
	</ion-tab>

	<!-- 星闪烁Tab -->
	<ion-tab title="个人中心" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/personal">
		<ion-nav-view name="tab-personal"></ion-nav-view>
	</ion-tab>

</ion-tabs>