<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- 首页 Tab -->
	<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>

	<!-- 扫码充电Tab -->
	<ion-tab title="扫码充电" icon-off="ion-ios-barcode-outline" icon-on="ion-ios-barcode" href="#/tab/scan">
		<ion-nav-view name="tab-scan"></ion-nav-view>
	</ion-tab>

	<!-- 星闪烁Tab -->
	<ion-tab title="星闪烁" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/twinkle">
		<ion-nav-view name="tab-twinkle"></ion-nav-view>
	</ion-tab>

	<!--我的Tab -->
	<ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/my">
		<ion-nav-view name="tab-my"></ion-nav-view>
	</ion-tab>

</ion-tabs>