<ion-view>
	<ion-header-bar align-title="center" class="bar-invest">
		<div class="buttons">
			<a class="button button-icon ion-ios-arrow-back" nav-transition="none" href="#/tab/home"></a>
		</div>
		<h1 class="title" ng-click="openPopover($event)">申请表格<i class="icon ion-arrow-down-b"></i>
		</h1>
		<div class="buttons">
			<a class="button button-icon ion-ios-information-outline"></a>
		</div>
	</ion-header-bar>
	<ion-content id="tab_apply">
		<img ng-src="img/apply.jpg" class="applyimg" />
		<div class="padding">
			<div class="applydiv">
				<span class="input-label">标名</span>
				<input type="text" placeholder="请输入">
			</div>
			<div class="applydiv">
				<span class="input-label">手机号码</span>
				<input type="text" placeholder="请输入手机号码">
			</div>
			<div class="applydiv">
				<span class="input-label">期数</span>
				<select>
					<option>2015年</option>
					<option>2014年</option>
					<option>2013年</option>
					<option>2012年</option>
					<option>2011年</option>
					<option>2010年</option>
					<option>2009年</option>
					<option>2008年</option>
					<option>2007年</option>
					<option>2006年</option>
					<option selected>2005年</option>
				</select>
			</div>
			<div class="applydiv">
				<span class="input-label">金额</span>
				<select>
					<option>10000</option>
					<option selected>50000</option>
					<option>200000</option>
				</select>
			</div>

			<div class="applydiv">
				<span class="input-label">用途</span>
				<input type="text" placeholder="请输入用途">
			</div>
			<div class="applydiv applydiv-textarea">
				<span class="input-label" style="display:inline-block">贷款说明</span>
				<span class="input-label-rigth">300字以内</span>
				<textarea name="" rows="5" cols="" placeholder="如："></textarea>
			</div>
			<div class="applydiv applydiv-sub">
				<button class="button applySubBtn">立即申请</button>
			</div>
		</div>
	</ion-content>
</ion-view>