<ion-view >
	<ion-header-bar align-title="center" class="bar-invest">
		<div class="buttons">
			<a class="button button-icon ion-ios-arrow-back" nav-transition="none" href="#/tab/home"></a>
		</div>
		<h1 class="title" ng-click="openPopover($event)">我要投资<i class="icon ion-arrow-down-b"></i>
		</h1>
		<div class="buttons">
			<a class="button button-icon ion-ios-information-outline"></a>
		</div>
	</ion-header-bar>
	<ion-content id="tab_vest" class="contentE1">
		<div class="row">
			<div class="col">
				<img src="img/invest1.jpg" class="homeimg" />
			</div>
			<div class="col">
				<img src="img/invest2.jpg" class="homeimg" />
			</div>
			<div class="col">
				<img src="img/invest3.jpg" class="homeimg" />
			</div>
		</div>
		<div class="list">

			<div class="item" ng-repeat="data in homeMessage">
				<span>
					<a class="icon-left ion-ios-person button-clear button-dark" ng-bind="data.name"> </a>
				</span>
				<span class="color9a" ng-bind="data.reason">
					
				</span>
				<span class="color9a home-address">地址：</span>
				<span class="color9a home-address" ng-bind="data.address">
					
				</span>
				<p>
					<div class="row">
						<div class="col col-15">
							<span class="home-type" ng-bind="data.type">A</span>
						</div>
						<div class="col col-40">
							<div class="">
								<span class="fontNum colorNum" ng-bind="data.money"></span><span>￥</span>
								<br />
								<span class="colorC0">借款金额</span>
							</div>
							<div class="">
								<span class="fontNum" ng-bind="data.time"></span><span>个月</span>
							</div>
						</div>
						<div class="col col-25">
							<div class="">
								<span class="fontNum colorNum" ng-bind="data.rate"></span><span>%</span>
								<br />
								<span class="colorC0">年化利率</span>
							</div>
							<div class="">
								<span>分期付款</span>
							</div>
						</div>
						<div class="col col-20">
							<button class="button home-btn">
								立即抢标
							</button>
						</div>
					</div>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>