<ion-view>
	<ion-header-bar align-title="center" class="bar-invest">
		<div class="buttons">
			<a class="button button-icon ion-ios-arrow-back" nav-transition="none" href="#/tab/home"></a>
		</div>
		<h1 class="title" ng-click="openPopover($event)">我要借款<i class="icon ion-arrow-down-b"></i>
		</h1>
		<div class="buttons">
			<a class="button button-icon ion-ios-information-outline"></a>
		</div>
	</ion-header-bar>
	<ion-content id="tab_vest" class="contentE1 padding">
		<div class="loanbox">
			<img src="img/invest1.jpg" class="homeimg" />
			<div>
				<span>查看该产品详细说明</span>
				<button class="button loanbtn">立即申请</button>
			</div>
		</div>
		<div class="loanbox">
			<img src="img/invest2.jpg" class="homeimg" />
			<div>
				<span>查看该产品详细说明</span>
				<button class="button loanbtn">立即申请</button>
			</div>
		</div>
		<div class="loanbox">
			<img src="img/invest3.jpg" class="homeimg" />
			<div>
				<span>查看该产品详细说明</span>
				<button class="button loanbtn">立即申请</button>
			</div>
		</div>

	</ion-content>
</ion-view>