<ion-modal-view ng-controller="SelectCityCtrl">
	<ion-header-bar align-title="left" class="bar-calm">
		<div class="buttons">
			<button class="button button-icon ion-ios-arrow-back" ng-click="closeCity()"></button>
		</div>
		<h1 class="title">城市</h1>
	</ion-header-bar>
	<ion-content delegate-handle="selectCityHandle">
		<div data-ng-repeat="(letter, items) in contacts" class="ion_alpha_list">
			<ion-item class="item item-divider" id="{{letter}}">{{letter}}</ion-item>
			<ion-item class="item" ng-repeat="item in items" ng-click="clikcCity(item.city)">
				{{item.city}}
			</ion-item>
		</div>
	</ion-content>
	<ul class="ion_alpha_sidebar">
		<li ng-click="alphaScroll('{{letter}}')" ng-repeat="letter in alphabet">{{letter}}</li>
	</ul>
</ion-modal-view>