<ion-view>
	<ion-content id="tab_home" class="contentE1">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<div class="home_box home_nav1"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav2"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav3"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav4"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav5"></div>
			</ion-slide>
		</ion-slide-box>
		<div class="row">
			<div class="col">
				<img src="img/home1.png" class="homeimg" />
			</div>
			<div class="col">
				<img src="img/home1.png" class="homeimg" />
			</div>
		</div>
		<div class="list">

			<div class="item">
				<span>
					<a class="icon-left ion-ios-person button-clear button-dark"> 戴添岳</a>
				</span>
				<span class="color9a">
					生意上需要资金
				</span>
				<span class="color9a home-address">
					地址：广州市天河区
				</span>
				<p>
					<div class="row">
						<div class="col col-15">
							<span class="home-type">A</span>
						</div>
						<div class="col col-35">
							<div class="">
								<span class="fontNum colorNum">50000</span><span>￥</span>
								<br />
								<span class="colorC0">借款金额</span>
							</div>
							<div class="">
								<span class="fontNum">2</span><span>个月</span>
							</div>
						</div>
						<div class="col col-20">
							<div class="">
								<span class="fontNum colorNum">18</span><span>%</span>
								<br />
								<span class="colorC0">年化利率</span>
							</div>
							<div class="">
								<span>分期付款</span>
							</div>
						</div>
						<div class="col col-20">
							<button class="button home-btn">
								立即抢标
							</button>
						</div>
					</div>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>