<ion-view>
	<ion-content id="tab_home" class="contentE1">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<div class="home_box home_nav1"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav2"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav3"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav4"></div>
			</ion-slide>
			<ion-slide>
				<div class="home_box home_nav5"></div>
			</ion-slide>
		</ion-slide-box>
		<div class="row" >
			<div class="col">
				<img src="img/home1.png" class="homeimg"/>
			</div>
			<div class="col">
				<img src="img/home1.png" class="homeimg"/>
			</div>
		</div>
	</ion-content>
</ion-view>