<ion-view view-title="快速登录">
	<ion-header-bar align-title="left" class="bar-invest">
		<div class="buttons">
			<a class="button button-icon ion-ios-arrow-back" nav-transition="none" ng-click="goBack()"></a>
		</div>
	</ion-header-bar>
	<ion-content class="contentgray">
		<div class="login-top">
			<div class="logo-div">
				<img src="img/logo.jpg" />
			</div>
			<div class="list list-from">
				<label class="item item-input">
					<img src="img/account.jpg" class="input-img" />
					<input type="text">
				</label>
				<label class="item item-input">
					<img src="img/password.jpg" class="input-img" />
					<input type="password">
				</label>
			</div>
			<div class="logo-sub">
				<button class="button logo-btn" type="submit">登录</button>
				<a href="#" class="logo-a">忘记密码</a>
			</div>
		</div>
		<div class="login-bottom">
			<div class="logo-register">
				<a class="button logo-reg-btn" nav-transition="none" href="#/register">现在还没有账号？现在去免费注册</a>
				<a href="#" class="logo-reg-a">Sign Up for Freebee</a>
			</div>
		</div>
	</ion-content>
</ion-view>