<ion-view view-title="快速登录">
	<ion-header-bar align-title="center" class="bar-invest">
		<div class="buttons">
			<a class="button button-icon ion-ios-arrow-back" nav-transition="none" ng-click="goBack()"></a>
		</div>
		<h1 class="title">注册</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-register">
			<label class="item item-input">
				<input type="text" placeholder="请输入手机号">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="请输入验证码">| <a href="#/register" class="button reg-btn-send">发送验证码</a>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="请设置昵称">
			</label>
			<div class="item item-input">
				<ng-input currenttype="controlOb.type" placeholder="请设置登录密码"></ng-input><a class="button button-icon icon ion-ios-eye-outline eye-btn" ng-click="switchType()"></a>
			</div>
		</div>
		<div class="reg-div">
			<a href="#/register" class="button reg-btn-sub">注册</a>
			<ul class="list list-check">

				<li class="item-checkbox">
					<label class="checkbox">
						<input type="checkbox">
					</label>
					<span class="read-span">我已阅读并同意</span><a href="#/register" class="read-a" ng-click="">《注册服务协议》</a>
				</li>
			</ul>
		</div>

	</ion-content>
</ion-view>